.Meme {
	background-color: hsl(0, 0%, 10%);
	color: white;
	width: 300px;
	margin: 2em auto;
	box-shadow: 0 0 0.5em black;
	border: 2px solid black;
}

.Meme p {
	padding: 0.25em;
	font-size: 1.25em;
	text-align: center;
}

.Meme img {
	width: 100%;
	height: auto;
}

.Meme:hover {
	cursor: pointer;
	border-color: red;
}
