.App {
	min-height: 100vh;
	padding: 0.5em;
}

.App h1 {
	font-size: 3em;
	font-weight: 900;
	text-align: center;
}

.App .buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: center;
	margin: 2em 0;
}

.App .buttons button {
	font-size: 1.25em;
	padding: 0.25em;
}

.App main {
	padding: 0.5em;
	box-shadow: 0 0 1em black;
}
